<div x-data="{ sidebarOpen: false }">
    <!-- Mobile Menu Button -->
    <button @click="sidebarOpen = !sidebarOpen" class="sidebar-mobile-toggle lg:hidden fixed top-4 left-4 z-50 p-2 rounded-lg shadow-lg">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
    </button>

    <!-- Mobile Sidebar Overlay -->
    <div x-show="sidebarOpen" @click="sidebarOpen = false" class="lg:hidden fixed inset-0 bg-black/50 z-40"></div>

    <!-- Mobile Sidebar -->
    <aside x-show="sidebarOpen" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="-translate-x-full" x-transition:enter-end="translate-x-0" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="translate-x-0" x-transition:leave-end="-translate-x-full" class="tenant-sidebar lg:hidden fixed w-72 h-full z-50 flex flex-col overflow-hidden">
        {% include 'includes/sidebar_logo.html' %}
        {% include 'includes/sidebar_nav.html' %}
        {% include 'includes/sidebar_logout.html' %}
    </aside>
</div>
